.fullBanner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), #0a2320f4), url("https://i.ibb.co/JH05ffr/Netflix-Bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    
}